<div class="row mt-1">
   <div class="col-8">
      <div class="row">
         <div class="col-12">
            <app-hr-actions></app-hr-actions>
         </div>
      </div>
      <!--<hr class="mt-2 mb-2">-->
      <div class="row" *ngIf="hiringUnlocked() > 0">
         <div class="col-8">
            <app-staff-summary [businessUnitId]="'hr'"></app-staff-summary>
         </div>
      </div>
   </div>

   <div class="col-4 pl-0">
      <app-job-market [businessUnitId]="'hr'"></app-job-market>
   </div>

</div>


