<div class="col-4">
   <div class="form-group row form-group-sm small p-0 mb-0" *ngFor="let property of getConfig(); let index = index">
      <label for="codePerClick" class="col-sm-6 col-form-label p-0 ">{{property}}</label>
      <div class="col-sm-6 p-0 ">
         <input
            class="form-control form-control-sm"
            id="codePerClick"
            [value]="debugService.config[property]"
            (change)="setProp(property, $event.target.value)">
      </div>
   </div>
</div>

