<div class="row mt-1">
   <div class="col-12">
      <table class="code-status w-100">
        <tbody>
          <tr>
            <td colspan="2" class="align-middle text-center small">Code status:</td>
            <td colspan="15" class="align-middle"><app-code-breakdown></app-code-breakdown></td>
          </tr>
        </tbody>
      </table>
   </div>
</div>
<hr class="mt-2 mb-2">
<div class="row">
   <div class="col-12">
      <app-development-actions></app-development-actions>
   </div>
</div>
<hr class="mt-2 mb-2">
<div class="row" *ngIf="unlocks.unlocks.devHiring > 0">
   <div class="col-12">
      <app-development-staff></app-development-staff>
   </div>
</div>
