<div class="col-12 game-state">
   <button routerLink="/" class="btn-secondary btn btn-sm">
      <i class="fa fa-plus"></i>
   </button>
   <button (click)="save()" class="btn-secondary btn btn-sm">
      <i class="fa fa-floppy-o"></i>
   </button>
   <label for="gameId" class="col-form-label col-form-label-sm small">Game ID</label>
   <input [(ngModel)]="selectedGameId" type="text" class="small" id="gameId"
          name="gameId" required>
   <button type="submit" class="btn-secondary btn btn-sm" (click)="loadGame(selectedGameId)">Load</button>
   <button (click)="clear()" class="btn-secondary btn btn-sm">
      <i class="fa fa-trash"></i>
   </button>
   <app-ticker-speed></app-ticker-speed>
</div>

