<div class="h-100 d-inline-block" style="flex-grow: 100; vertical-align: top;" *ngIf="selfImprovementUnlocked">
   <div class="card d-flex h-100">
      <div class="card-header p-1 small">
         Improve your skills
      </div>
      <div class="card-block p-2 h-100">
         <div class="btn-group-sm pt-2 h-100" role="group">
            <button
               type="button"
               [disabled]="!canImprove('coding')"
               (click)="improve('coding')"
               class="btn btn-sm btn-secondary btn-interactive">
               <div>
                  <i class="fa fa-keyboard-o"></i>
                  +{{improvementAmount('coding')}}
               </div>
               <div class="pull-right mt-1">
                  <span class="badge badge-default">{{selfImprovementCost('coding') | currency:"usd":true}}</span>
               </div>
            </button>
            <button
               type="button"
               [disabled]="!canImprove('testing')"
               (click)="improve('testing')"
               class="btn btn-sm btn-secondary btn-interactive">
               <div>
                  <i class="fa fa-check-square-o"></i>
                  +{{improvementAmount('testing')}}
               </div>
               <div class="pull-right mt-1">
                  <span class="badge badge-default">{{selfImprovementCost('testing') | currency:"usd":true}}</span>
               </div>
            </button>
            <button
               type="button"
               [disabled]="!canImprove('deploying')"
               (click)="improve('deploying')"
               class="btn btn-sm btn-secondary btn-interactive">
               <div>
                  <i class="fa fa-ship"></i>
                  +{{improvementAmount('deploying')}}
               </div>
               <div class="pull-right mt-1">
                  <span class="badge badge-default">{{selfImprovementCost('deploying') | currency:"usd":true}}</span>
               </div>
            </button>
            <button
               type="button"
               *ngIf="bugsUnlocked"
               [disabled]="!canImprove('bugFixing')"
               (click)="improve('bugFixing')"
               class="btn btn-sm btn-secondary btn-interactive">
               <div>
                  <i class="fa fa-bug"></i>
                  +{{improvementAmount('bugFixing')}}
               </div>
               <div class="pull-right mt-1">
                  <span class="badge badge-default">{{selfImprovementCost('bugFixing') | currency:"usd":true}}</span>
               </div>
            </button>
         </div>
      </div>
   </div>
</div>


