<div class="form-inline p-1 game-state">
   <div class="input-group input-group-sm mr-1">
      <button
         (click)="decreaseTps()"
         class="btn btn-sm btn-info">
         <i class="fa fa-minus-circle"></i>
      </button>
   </div>
   <div class="input-group input-group-sm mr-1">
      <button
         (click)="increaseTps()"
         class=" btn btn-sm btn-info">
         <i class="fa fa-plus-circle"></i>
      </button>
   </div>
   <div class="input-group input-group-sm">
      <span class="input-group-addon p-1 mr-4">
         <label class="col-form-label col-form-label-sm">{{tickService.tps | number : '1.2-2'}} ticks/s</label>
      </span>
   </div>
    <div class="input-group input-group-sm mr-1">
      <button
         (click)="decreaseSpeed()"
         class="btn btn-sm"
         [class.btn-warning]="tickService.paused"
         [class.btn-info]="!tickService.paused">
         <i class="fa fa-backward"></i>
      </button>
   </div>
   <div class="input-group input-group-sm mr-1">
      <button
         *ngIf="!tickService.paused"
         (click)="pause()"
         class="btn btn-info btn-sm"
         style="min-width: 30px">
         <i class="fa fa-pause"></i>
      </button>
      <button
         *ngIf="tickService.paused"
         (click)="resume()"
         class="btn btn-sm btn-warning"
         style="min-width: 30px">
         <i class="fa fa-play"></i>
      </button>
   </div>
   <div class="input-group input-group-sm mr-1">
      <button
         (click)="step()"
         class="btn btn-sm btn-interactive"
         [class.btn-warning]="tickService.paused"
         [class.btn-info]="!tickService.paused">
         <i class="fa fa-step-forward"></i>
      </button>
   </div>
   <div class="input-group input-group-sm mr-1">
      <button
         (click)="increaseSpeed()"
         class="btn btn-sm"
         [class.btn-warning]="tickService.paused"
         [class.btn-info]="!tickService.paused">
         <i class="fa fa-forward"></i>
      </button>
   </div>
   <div class="input-group input-group-sm">
      <span class="input-group-addon p-1">
         <label class="col-form-label col-form-label-sm">x{{tickService.speed | number : '1.2-2'}}</label>
      </span>
   </div>
</div>
