<div
   class="card card-inverse card-digest"
   [class.card-night]="!isDay"
   [class.card-info]="isDay">
   <span class="top-corner-icon">
      <i class="fa"
         [class.fa-sun-o]="isDay"
         [class.fa-moon-o]="!isDay"></i>
   </span>
   <div class="card-block p-2">
      <div class="row">
         <div class="col-12 small">
            <p class="card-title mb-0"><strong>{{latestTickDateHeader}}</strong></p>
            <p class="card-text">{{latestTickDateTime}}</p>
         </div>
      </div>
      <div class="row mt-3">
         <div class="col-12">
            <div class="progress">
               <div
                  class="progress-bar"
                  style="background-color: #b0dbff"
                  role="progressbar"
                  [style.width]="dayPercent">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
