.log-history-item {
   word-wrap: break-word;
   width: 100%;
   font-family: "Courier New";
   font-size: .7em;
   border-radius: .3rem;
}

.log-history-item.odd {
   /*opacity: .9;*/
   /*border-bottom: 1px solid #e5e5e5;*/
}

.log-history-item:not(.odd) {
    /*opacity: 1;*/
   /*border-bottom: 1px solid #e5e5e5;*/
}

.log-history-container {
   background-color: rgba(247,247,249, 0);
   width: 100%;
   overflow-y: auto;
   /*border-left: 1px solid rgba(0, 0, 0, 0.125);*/
}

.log-history-content {
   overflow-y: auto;
   position: absolute;   bottom: 0;
   width: 100%;
}
