<div class="container-fluid mt-3">
   <div class="card">
      <div class="card-header pt-1 pb-1">{{company.name}}</div>
      <div class="card-block">
         <ul class="nav nav-pills">
            <li class="nav-item" *ngFor="let unit of activeBusinessUnits">
               <a
                  class="nav-link"
                  [routerLink]="unit.id"
                  routerLinkActive="active">{{unit.name}}</a>
            </li>
         </ul>
      </div>
   </div>
   <router-outlet></router-outlet>
</div>
